@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');

body{
    font-family: 'Unna', serif;
}

h1{

    text-decoration: underline;
    text-align: center;
}

body{
background-color:#A4BE7B;
color:white;
font-style: italic;
}

 nav{
    background-color:#BF9270;
 }

 nav > a{
    color:white;
    text-decoration: none;
    padding: 10px 50px;
    display: inline-block;
 }

nav > a:hover {
background-color: #FFB9B9;

}



