@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');

body{
    font-family: 'Unna', serif;
}

h1{

    text-decoration: underline;
    text-align: center;
}

body{
background-color:#A4BE7B;
color:white;
font-style: italic;
}

 nav{
    background-color:#BF9270;
 }

 nav > a{
    color:white;
    text-decoration: none;
    padding: 10px 50px;
    display: inline-block;
 }

nav > a:hover {
background-color: #FFB9B9;

}

img{
    border-radius: 50%;
}
#hob{
    text-decoration: underline;
}

#bout{
    color: #FFB9B9;
    border-style: inset;
    border-color: white;
}

#shortcake:hover{
    width:275px;
    height: 200px;
    transition: 1s;
}

#log{
    text-align: center;
    text-decoration: underline;
}

#web:hover{
    width: 300px;
    transition: 1s;
}

#good{
    text-decoration: underline;
}


#cert{
    text-decoration: underline;
}

#game:hover{
    width: 275px;
    transition: 1s;

}